
<nav class="navbar navbar-default navbar-fixed-top">
    <div class=" container-fluid row" >
        <div class = "col-xs-3 hidden-xs">
            <div class="navbar-header">
                <a href="#/user/{{model.userId}}/website/{{model.wid}}/page" class="navbar-brand pull-left">
          <span class="glyphicon glyphicon-menu-left">
          </span>
                </a>
                <a class="navbar-brand" href="">
                    Pages
                </a>
            </div>
            <a class="navbar-brand pull-right" href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/new">
            <span class="glyphicon glyphicon-plus ">
          </span>
            </a>
        </div>
        <div class="col-xs-12 col-sm-9" >
            <div class="navbar-header">
                <a href="#/user/{{model.userId}}/website" class="navbar-brand pull-left visible-xs">
          <span class="glyphicon glyphicon-menu-left">
          </span>
                </a>
                <a class="navbar-brand" href="#">
                    New Page
                </a>
                <a ng-click = "model.addPage(model.name,model.description)"class="navbar-link navbar-text pull-right visible-xs">
          <span class="glyphicon glyphicon-ok">
          </span>
                </a>
            </div>
            <a ng-click = "model.addPage(model.name,model.description)"class="navbar-link navbar-text pull-right hidden-xs">
          <span class="glyphicon glyphicon-ok">
          </span>
            </a>
        </div>
    </div>
</nav>


<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 sidebar">
            <ul class="nav nav-sidebar">
                <li ng-repeat="page in model.pages"><div class="container-fluid">
                    <a class="" href="#/user/{{model.userId}}/website/{{page.websiteId}}/page/{{page._id}}/widget">
                        {{page.name}}
                    </a>
                    <a href="#/user/{{model.userId}}/website/{{page.websiteId}}/page/{{page._id}}" class="pull-right">
                      <span class="glyphicon glyphicon-cog">
                      </span>
                    </a>
                </div></li>
            </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 main">
            <div class="form-group">
                <label for="usr">Page name:</label>
                <input ng-model="model.name" type="text" class="form-control" id="usr" placeholder="Page Name">
            </div>
            <div class="form-group">
                <label for="Description">Title:</label>
                <textarea ng-model="model.description"class="form-control" rows="5" id="Description" placeholder="Title"></textarea>
            </div>
            <nav class="navbar navbar-default navbar-fixed-bottom">
                <div class="container-fluid" >
                    <p class="navbar-text pull-right">
                        <a href="#/user/{{model.userId}}" class="navbar-link">
          <span class="glyphicon glyphicon-user">
          </span>
                        </a>
                    </p>
                </div>
            </nav>
        </div>
    </div>
</div>