
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid" >
        <a href="#" class="navbar-link navbar-text pull-left">
          <span class="glyphicon glyphicon-menu-left">
          </span>
        </a>
        <a class="navbar-brand" href="#">
            Choose Widget
        </a>
        <a href="#" class="navbar-link navbar-text pull-right">
          <span class="glyphicon glyphicon-ok">
          </span>
        </a>
    </div>
</nav>
<div class="container-fluid">
    <div class="container-fluid nav-pills div-margin">
        <a class="" href="widget-heading.view.client.html">
            Header
        </a>
    </div>
    <div class="container-fluid nav-pills div-margin">
        <a class="" href="#">
            label
        </a>
    </div>
    <div class="container-fluid nav-pills div-margin">
        <a class="" href="#">
            HTML
        </a>
    </div>
    <div class="container-fluid nav-pills div-margin">
        <a class="" href="#">
            Text Input
        </a>
    </div>
    <div class="container-fluid nav-pills div-margin">
        <a class="" href="#">
            Link
        </a>
    </div>
    <div class="container-fluid nav-pills div-margin">
        <a class="" href="#">
            Button
        </a>
    </div>
    <div class="container-fluid nav-pills div-margin">
        <a class="" href="widget-image.view.client.html">
            Image
        </a>
    </div>
    <div class="container-fluid nav-pills div-margin">
        <a class="" href="widget-youtube.view.client.html">
            Youtube
        </a>
    </div>
    <div class="container-fluid nav-pills div-margin">
        <a class="" href="#">
            Data Table
        </a>
    </div>
    <div class="container-fluid nav-pills div-margin">
        <a class="" href="#">
            Repeater
        </a>
    </div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid" >
        <p class="navbar-text pull-right">
            <a href="../user/profile.view.client.html" class="navbar-link">
          <span class="glyphicon glyphicon-user">
          </span>
            </a>
        </p>
    </div>
</nav>
