
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid" >
        <a href="#/user/{{model.uid}}/website/{{model.wid}}/page/{{model.pid}}" class="navbar-link navbar-text pull-left">
          <span class="glyphicon glyphicon-menu-left">
          </span>
        </a>
        <a class="navbar-brand" href="#">
            Widget Edit
        </a>
        <a href="#" class="navbar-link navbar-text pull-right">
          <span class="glyphicon glyphicon-ok">
          </span>
        </a>
    </div>
</nav>
<div class="container-fluid">

    <form>
        <div class="form-group div-margin">
            <label for="Name">Name</label>
            <input type="text" class="form-control" id="Name" placeholder="Name">
        </div>
        <div class="form-group">
            <label for="Text">text</label>
            <input type="text" class="form-control" id="text" placeholder="blah blah blah blah blah blah blah ">
        </div>
        <div class="form-group">
            <label for="url">URL</label>
            <input type="text" class="form-control" id="url" placeholder="youtube.com">
        </div>
        <div class="form-group">
            <label for="Width">Width</label>
            <input type="number" class="form-control" id="Width" placeholder="3">
        </div>
        <div class="form-group">
            <label for="upload">Upload</label>
            <input type="file" id="upload" class="form-control ">
        </div>
        <div class="form-group">
            <a href="widget-chooser.view.client.html" class = 'btn btn-block btn-primary'>Upload</a>
        </div>
        <div class="form-group">
            <a href="widget-chooser.view.client.html" class = 'btn btn-block btn-danger'>Delete</a>
        </div>
    </form>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid" >
        <p class="navbar-text pull-right">
            <a href="#/user/{{model.uid}}" class="navbar-link">
          <span class="glyphicon glyphicon-user">
          </span>
            </a>
        </p>
    </div>
</nav>
