<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid" >
        <a href="#/user/{{model.uid}}/website/{{model.wid}}/page/{{model.pid}}/widget/" class="navbar-link navbar-text pull-left">
          <span class="glyphicon glyphicon-menu-left">
          </span>
        </a>
        <a class="navbar-brand" href="">
            Widget Edit
        </a>
        <a ng-click="model.updateWidget(model.widget._id,model.widget.widgetType,model.widget,model.widget.width)" class="navbar-link navbar-text pull-right">
          <span class="glyphicon glyphicon-ok">
          </span>
        </a>
    </div>
</nav>
<div class="container-fluid">

    <div>
        Text
        <input ng-model="model.widget.text" class="form-control"/>
        Rows
        <input ng-model="model.widget.rows" class="form-control" type="number"/>
        Placeholder
        <input ng-model="model.widget.placeholder" class="form-control"/>
        Formatted
        <input ng-model="model.widget.formatted" type="checkbox"/>
    </div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid" >
        <p class="navbar-text pull-right">
            <a href="#/user/{{model.uid}}" class="navbar-link">
          <span class="glyphicon glyphicon-user">
          </span>
            </a>
        </p>
    </div>
</nav>


