
<div class="container-fluid">

    <form>
        <div class="form-group div-margin">
            <label for="Name">Name</label>
            <input ng-model = "model.widget.widgetType" type="text" class="form-control" id="Name" placeholder="Name">
        </div>
        <div class="form-group">
            <label for="Text">text</label>
            <input type="text" class="form-control" id="text" placeholder="blah blah blah blah blah blah blah ">
        </div>
        <div class="form-group">
            <label for="url">URL</label>
            <input ng-model = "model.widget.url"type="text" class="form-control" id="url" placeholder="youtube.com">
        </div>
        <div class="form-group">
            <label for="Width">Width</label>
            <input ng-model = "model.widget.width"type="text" class="form-control" id="Width" placeholder="3">
        </div>
        <div class="form-group">
            <label for="upload">Upload</label>
            <input type="file" id="upload" class="form-control ">
        </div>
        <div class="form-group">
            <a href="widget-chooser.view.client.html" class = 'btn btn-block btn-primary'>Upload</a>
        </div>
    </form>
</div>
